{{- if .Params.series }}
{{- $series := index .Params.series 0 }}
{{- $pages := sort (where (where site.RegularPages "Params.series" "intersect" (slice $series)) "Type" "in" site.Params.mainSections) "Params.series_weight" "asc" }}{{- if and (gt (len $pages) 1) (in $pages . ) }}
<nav class="paginav">
  {{- with $pages.Next . }}
  <a class="prev" href="{{ .Permalink }}">
    <span class="title">« {{ i18n "prev_page" }}</span>
    <br>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
  {{- with $pages.Prev . }}
  <a class="next" href="{{ .Permalink }}">
    <span class="title">{{ i18n "next_page" }} »</span>
    <br>
    <span>{{- .Name -}}</span>
  </a>
  {{- end }}
</nav>
{{- end }}
{{- end }}